@font-face {
  font-family: 'RetroGaming';
  src: url('../fonts/RetroGaming.ttf');
}

[data-theme='light'] {
  --color-bg: #cccccc;
  --color-fg: #7359f8;
  --color-icon: #222222;
}

[data-theme='dark'] {
  --color-bg: #222222;
  --color-fg: #7359f8;
  --color-icon: #cccccc;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'RetroGaming', monospace;
  background-color: var(--color-bg);
  color: var(--color-fg);
  padding: 1rem;
}

header {
  display: flex;
  justify-content: end;
  align-items: top;
  width: 100%;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

#theme {
  display: none;
}

#theme-label {
  display: inline-block;
  background-image: url('../img/moon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}

#theme-label.dark {
  display: inline-block;
  background-image: url('../img/sun.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

#profile {
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-fg);
  border-radius: 20%;
}

#job {
  font-size: 2rem;
  text-align: center;
}

#technologies {
  font-size: 1.5rem;
  text-align: center;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0;
}

.icons li {
  list-style-type: none;
}

.icons li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-fg);
  border-radius: 50%;
  color: var(--color-icon);
  text-decoration: none;
}

.icons li a:hover {
  background-color: var(--color-fg);
  color: var(--color-bg);
}

.icons li a i {
  font-size: 2rem;
}
