@font-face {
  font-family: "RetroGaming";
  src: url("../fonts/RetroGaming.ttf");
  font-display: swap;
}

[data-theme="light"] {
  --color-bg: #dddddd;
  --color-fg: #7359f8;
  --color-accent: #222222;
}

[data-theme="dark"] {
  --color-bg: #222222;
  --color-fg: #7359f8;
  --color-accent: #dddddd;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "RetroGaming", monospace;
  background-color: var(--color-bg);
  color: var(--color-fg);
  padding: 3rem 1rem;
  position: relative;
}

header {
  display: flex;
  justify-content: end;
  align-items: top;
  width: 100%;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

#theme {
  display: none;
}

#theme-label {
  display: inline-block;
  background-image: url("../img/moon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}

#theme-label.dark {
  display: inline-block;
  background-image: url("../img/sun.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

#profile {
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-fg);
  border-radius: 12px;
  margin-top: 0.5rem;
}

#job {
  font-size: 2rem;
  text-align: center;
}

#technologies {
  font-size: 1.5rem;
  text-align: center;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0;
}

.icons li {
  list-style-type: none;
}

.icons li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-fg);
  border-radius: 50%;
  color: var(--color-accent);
  text-decoration: none;
}

.icons li a:hover {
  background-color: var(--color-fg);
  color: var(--color-bg);
}

#resume {
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  background-color: var(--color-fg);
  color: var(--color-accent);
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-fg);
  border-radius: 12px;
}

#resume:hover {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

section h2 {
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

#portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.portfolio {
  background-color: var(--color-fg);
  color: var(--color-accent);
  padding: 1rem;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-fg);
  border-radius: 12px;
  width: 30vw;
  min-width: 300px;
}

.portfolio a {
  color: var(--color-accent);
  text-decoration: none;
}

.portfolio a:hover {
  text-decoration: underline;
}

.portfolio img {
  width: 100%;
  max-height: 300px;
}

#experience {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.experience {
  background-color: var(--color-fg);
  color: var(--color-accent);
  padding: 1rem;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-fg);
  border-radius: 12px;
  width: 30vw;
  min-width: 300px;
}

.job {
  font-size: 1.5rem;
  text-align: center;
}

.place {
  font-size: 1.2rem;
  text-align: center;
}

.place a {
  color: var(--color-accent);
  text-decoration: none;
}

.place a:hover {
  text-decoration: underline;
}

.date {
  font-size: 1rem;
  text-align: center;
}

.tasks {
  list-style-type: none;
}

.tasks li::before {
  content: "✅ ";
}

.tasks li {
  margin: 0.5rem;
}

#education {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.education {
  background-color: var(--color-fg);
  color: var(--color-accent);
  padding: 1rem;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-fg);
  border-radius: 12px;
  width: 30vw;
  min-width: 300px;
}

.course {
  font-size: 1.5rem;
  text-align: center;
}

.details {
  list-style-type: none;
}

.details li::before {
  content: "📌 ";
}

.details li {
  margin: 0.5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0.5em;
  width: 100%;
  height: 1em;
}

footer p {
  font-size: 0.8rem;
  text-align: center;
}